@import "_variables";


body {
  font-family: $font;
  color: $primary-color;
  background: $background;
  line-height: $body-line-height;
  margin: 40px;
}

h1, h2 {
  margin-bottom: 2em;
}

h2 {
  font-size: 1.2em;
}
