@import "_variables";


body {
  font-family: $font;
  color: $primary-color;
  background: $background;
  line-height: $body-line-height;
}

h2 {
  font-size: 1.2em;
}

@media (min-width: $desktop-min-width) {

  article {
    @include outer-container;

    h2 { 
      @include span-columns(3); 
    }
    section { 
      height: $body-line-height*4;
      @includes span-columns(9); 
    }
  }
}

